---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main 
    pageTitle="Tags" 
    className="!font-black md:!text-7xl lg:!text-[160px] sm:right-0 -tracking-widest md:-mt-5 md:-mr-10 lg:-mb-12 opacity-25 sm:opacity-10 lg:text-right"
    pageDesc="All the tags used in posts.">
    <ul class="mt-6">
      {tags.map(tag => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
