---
// Remove current url path and remove trailing slash if exists
const currentUrlPath1 = Astro.url.pathname.replace(/\/+$/, "");
const currentUrlPath = currentUrlPath1.replace(/-/g, " ");

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
breadcrumbList[1] < "9, 90, 900" && breadcrumbList.splice(0, 2, `Posts page ${breadcrumbList[1] || 1}`);

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav class={`breadcrumb ${className}`} aria-label="breadcrumb">
  <ul class="flex flex-wrap gap-1 col-start-1 col-span-8 lg:col-start-2 lg:col-span-6 lg:w-max px-4 py-2 rounded-md bg-gradient-to-r from-skin-accent/20 to-transparent">
    <li>
      <a href="/">Home</a>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 2 === breadcrumbList.length ? (
          <li>
            <span aria-hidden="true">&nbsp;&raquo;&nbsp;</span>
              {/* make the last part lowercase in Home > Tags > some-tag */}
              <a href={`/${breadcrumb}`}>{breadcrumb}</a><span aria-hidden="true">
            </span>
          </li>
        ) : (
          <li class="capitalize opacity-75">
            <span aria-current="page">&nbsp;&raquo;&nbsp;</span>
            {breadcrumb}
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  .breadcrumb {
    @apply relative z-20 mx-auto mt-[87px] sm:mt-28 mb-8 w-full grid grid-cols-8 gap-8 px-4;
  }
  .breadcrumb ul li {
    @apply inline;
  }
  .breadcrumb ul li a {
    @apply capitalize text-skin-accent;
  }
</style>
